doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Мои презентации
    meta(name='description', content="Nick Kugaevsky's slides")
    meta(name='author', content='Nick Kugaevsky')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='lib/reveal.js/css/reveal.css')
    link#theme(rel='stylesheet', href='lib/reveal.js/css/theme/moon.css')
    // For syntax highlighting
    link#highlight-theme(rel='stylesheet', href='lib/reveal-highlight-themes/styles/monokai_sublime.css')
    // If the query includes 'print-pdf', include the PDF print sheet
    script.
      if( window.location.search.match( /print-pdf/gi ) ) {
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = 'lib/reveal.js/css/print/pdf.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
    //if lt IE 9
      script(src='lib/js/html5shiv.js')
  body
    .reveal
      // Any section element inside of this container is displayed as a slide
      .slides
        section(data-markdown).
          ## Презентации
          * [Наряжаем рельсу – Using decorators in Ruby on Rails](using-decorators-in-ruby-on-rails.html)
          * [Выкладка без боли с Capistrano — Painless deployment with Capistrano](deploy-with-capistrano.html)
          * [Gulp для сборки статики – Assets Pipeline with Gulp](gulp-assets-pipeline.html)
          * [Сахар и автосборкка в Ionic Framework](sweetest-ionic.html)
          * [Препарируем shipit.js — Shipit.js inside out](shipit-js-inside-out.html)
          * [Documenting and testing APIs with Swagger](swagger.html)
    script(src='lib/reveal.js/lib/js/head.min.js')
    script(src='lib/reveal.js/js/reveal.js')
    script.
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal-js#configuration
      Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,
      transition: 'convex', // none/fade/slide/convex/concave/zoom
      // Optional reveal-js plugins
      dependencies: [
      { src: 'lib/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: 'lib/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'lib/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'lib/reveal.js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: 'lib/reveal.js/plugin/zoom-js/zoom.js', async: true },
      { src: 'lib/reveal.js/plugin/notes/notes.js', async: true }
      ]
      });
