doctype html
html
  head
    meta(charset='utf-8')
    title Сахар и автосборка в Ionic Framework
    meta(name='description', content='Сахар и автосборка в Ionic Framework')
    meta(name='author', content='Nick Kugaevsky')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='lib/reveal-js/css/reveal.css')
    link#theme(rel='stylesheet', href='lib/reveal-js/css/theme/beige.css')
    // For syntax highlighting
    link#highlight-theme(rel='stylesheet', href='lib/reveal-highlight-themes/styles/zenburn.css')
  body
    .reveal
      // Any section element inside of this container is displayed as a slide
      .slides
        section(data-markdown).
          ## rannts#11 + it52.info
          * Web: [https://www.it52.info](https://www.it52.info):
            * RSS
            * ICS
          * Telegram:
            * Channel: [@it52info](https://telegram.me/it52info)
            * Bot: [@it52_bot](https://telegram.me/it52_bot)
          ## Спасибо, что пришли

    script(src='lib/reveal-js/lib/js/head.min.js')
    script(src='lib/reveal-js/js/reveal.js')
    script.
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal-js#configuration
      Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,
      transition: 'convex', // none/fade/slide/convex/concave/zoom
      // Optional reveal-js plugins
      dependencies: [
      { src: 'lib/reveal-js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: 'lib/reveal-js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'lib/reveal-js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'lib/reveal-js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: 'lib/reveal-js/plugin/zoom-js/zoom.js', async: true },
      { src: 'lib/reveal-js/plugin/notes/notes.js', async: true }
      ]
      });
